/* General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* end General */

/* header */

.box-header{
  color:#E53170 ;
  padding: 30px;
  text-align: center;
}

/* end header */

/* main */

.container{
  width: 850px;
  max-width: 80%;
  margin: 0 auto;
}

.description p{
  margin-bottom: 30px;
  text-align: center;
}

.box-center{

}

.box-center div{
  width: calc((100% - 108px) / 3);
  height: 70px;
  display: inline-block;
  background-color: #0F0E17;
  margin: 18px 12px;
}

.box-center .card img{
  height:  70px;
  float: left;
  margin-right: 10px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.card{
  box-shadow: 5px 3px 5px #adadad;
  border: 1px;
}

.name{
  font-weight: 700;
  font-size: 0.8rem;
  color: white;
}

.work{
  margin: 5px 0px;
  font-size: 0.7rem;
  color: white;
}

.email{
  color: #6ecbf2;
  font-size: 0.6rem ;
}